/*****************************************************************************/
/* Renter: Style */
/*****************************************************************************/
.renter {
}

.rqForm {
    display: block;
    margin-top: 0em;

}
.block-div{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}


.panel-body{
  height: 150px;
  overflow-y: auto;
}


.panel-heading .header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%
}