<template name="Renter">
	<div class="renter">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<!-- Single button -->
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{currentLocal}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="localBtn" >
								<li><a href="javascript:void(0);">All</a></li>
								<li role="separator" class="divider"></li>
								{{#each locations}}
								<li><a href="javascript:void(0);">{{label}}</a></li>
								{{/each}}
							</ul>
						</div>
						<!-- Single button
						<div class="btn-group">
							<button type="button"  class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Date <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="dateBtn">
								<li><a href="#">All</a></li>
								<li role="separator" class="divider"></li>
								{{#each Location}}
								<li><a href="#">Separated link</a></li>
								{{/each}}
							</ul>
						</div> -->

					</h1>
				</div>
			</div>
			<div class="row">
				{{#with data}}
					{{#each this}}
					<div class="col-sm-6 col-lg-4 col-md-4">
						<div class="panel panel-default">
						  <div class="panel-heading"><h2>{{userName}} ({{region}})</h2></div>
						  <div class="panel-body">
						    <p>{{address}}</p>
						  </div>
							<div class="panel-footer">
								<div style="width:100%">Available form:  {{activeTime}}  <br>  {{rendFee}}/per Hrs </div>
								{{#if currentUser}}
									<div><button type="button" class="btn btn-primary right bs-docs-popover"  data-toggle="modal" data-target="#insert"  id="record">Ask for</button></div>
								{{else}}
									<div>Login First</div>
								{{/if}}
							</div>
						</div>
					</div>
					{{/each}}
				{{else}}
					<div style='text-align:center'> No Record</div>
				{{/with}}
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- Modal -->
	<div class="modal fade" id="insert"  aria-hidden="true" data-dismiss="modal" style="width: 100%;">
		<div class="modal-dialog" style="margin-top:10%" role="document">
			<div class="modal-content">
				<!-- <div class="modal-header"> -->
				<div class="block-div">
				<h1 class="modal-title" >Add Booking</h1>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				<!-- </div> -->
				<!-- <div class="modal-body"> -->
				<div>

					<!-- <div class="modal-footer"> -->
				<!--	{{> quickForm collection="UserRequest" id="RequestForm" type="insert"}}-->
					{{#autoForm collection="UserRequest" id="RequestForm" class="rqForm" type="insert"}}
					<fieldset>
					{{> afQuickField name='phonenum'}}
      				{{> afQuickField name='comment'}}

      				</fieldset>
      				<button type="submit" class="btn btn-primary" id="btnRq"  >Submit</button>
					<button class="btn btn-default" data-dismiss="modal">Close</button>
					{{/autoForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
