/*****************************************************************************/
/* Renter: Style */
/*****************************************************************************/
.renter {
}

.rqForm {
    display: block;
    margin-top: 0em;
   
}
.block-div{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
