/*****************************************************************************/
/* Header: Style */
/*****************************************************************************/
.header {
}


.panel-footer,.panel-heading{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/*.panel-heading{
	display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}*/