<template name="request">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">User Request List</h1>
				{{#each request}}
				<div class="col-sm-6 col-lg-12 col-md-9">
					<div class="thumbnail">
						<div class="caption">

							<h4>{{address}}</h4>
							<h4>{{userName}}</h4>

							<p class="pull-right"><button class="btn btn-primary" id="accept">Accept
							</button>
							<button class="btn btn-danger" id="decline">Decline</button>
						</p>
							<p>Phone Number: {{phonenum}}</p>

							<p>Comments: {{comment}}</p>

							

							

					</div>
				</div>
			</div>

			{{/each}}
		</div>
	</div>
</div>
</template>